<div #fullPageContainer class="fullpage-container" [ngStyle]="{'background-image': board.background && board.background.data ? 'url('+board.background.data+')' : 'none'}">
  <div class="board-bar" [ngStyle]="{'background-color': board.menuColorDark ? board.menuColorDark : 'rgb(0, 95, 150)'}">
    <div class="flex-row">
      <div class="flex-row home pointer" [routerLink]="['/boards']" [ngStyle]="{'background-color': board.menuColorLight ? board.menuColorLight : 'rgb(0, 79, 125)'}">
        <mat-icon class="mat-icon-big" style="fill: white ;" svgIcon="logo"></mat-icon>&nbsp; Trell<i>ode</i>
      </div>
      <div class="board-title">
        {{ board.title }}
      </div>
    </div>
    <div class="board-menu pointer">
      <mat-icon class="mat-icon-big" style="fill: white;" svgIcon="dots" (click)="switchRightMenu()"></mat-icon>
    </div>
  </div>
  <div class="lists-list">
    @for (list of board.lists; track board.id) {
      <app-list [list]="list" [color]="board.listColor"></app-list>
    }
    <div *ngIf="!showCreateListInput" class="flex-row add-list-bar" (click)="switchCreateListInput()">
      <mat-icon class="mat-icon-md" style="fill: black;" svgIcon="plus"></mat-icon>
      <button mat-button class="primary">Ajouter une autre liste</button>
    </div>
    <div *ngIf="showCreateListInput" class="card">
      <div>
        <input #listTitleInput class="card-title-input" mat-input [(ngModel)]="newListTitleContent" (keyup.enter)="addList()" placeholder="Saisissez un titre pour cette carte..."/>
      </div>
      <div>
        <button mat-button class="primary" (click)="switchCreateListInput()">Annuler</button>
        <button mat-button class="primary" (click)="addList()">Enregistrer</button>
      </div>
    </div>
  </div>
  <div class="right-menu" *ngIf="showRightMenu && !showManageBackground && !showLogs">
    <div class="right-menu-header">
      Menu
      <div class="right-menu-close pointer">
        <mat-icon class="mat-icon-big" svgIcon="close" (click)="switchRightMenu()"></mat-icon>
      </div>
    </div>
    <div class="right-menu-buttons">
      <button mat-menu-item class="right-menu-button" (click)="manageBackground()">
        <mat-icon class="mat-icon-big mat-icon-right-menu" svgIcon="background"></mat-icon>
        <span>Changer le fond d'écran</span>
      </button>
      <button mat-menu-item class="right-menu-button" (click)="showLogsMenu()">
        <mat-icon class="mat-icon-big mat-icon-right-menu" svgIcon="activity"></mat-icon>
        <span>Activité</span>
      </button>
      <button mat-menu-item *ngIf="!board.archivedAt" class="right-menu-button" (click)="archiveBoard(board)">
        <mat-icon class="mat-icon-big mat-icon-right-menu" svgIcon="archive"></mat-icon>
        <span>Archiver</span>
      </button>
      <button mat-menu-item *ngIf="board.archivedAt" class="right-menu-button" (click)="reactivateBoard(board)">
        <mat-icon class="mat-icon-big mat-icon-right-menu" svgIcon="unarchive"></mat-icon>
        <span>Restaurer</span>
      </button>
      <button mat-menu-item *ngIf="board.archivedAt" class="right-menu-button" (click)="deleteBoard(board.id)">
        <mat-icon class="mat-icon-big mat-icon-right-menu" svgIcon="delete"></mat-icon>
        <span>Supprimer</span>
      </button>
    </div>
  </div>
  <div class="right-menu manage-background-menu" *ngIf="showManageBackground">
    <div class="right-menu-header">
      Changer le fond d'écran
      <div class="right-menu-close pointer">
        <mat-icon class="mat-icon-big" svgIcon="close" (click)="closeManageBackgroundMenu()"></mat-icon>
      </div>
    </div>
    <div class="right-menu-content">
      @for (background of backgrounds; track background.id) {
        <div class="background-box">
          <div class="background pointer" [ngStyle]="{'background-image': background.data ? 'url('+background.data+')' : 'none'}" (click)="setBoardBackground(background.id)"></div>
          <div class="background-delete-button pointer">
            <mat-icon class="mat-icon-big" svgIcon="close" (click)="deleteBackground(background.id)"></mat-icon>
          </div>
        </div>
      }
      <input hidden type="file" #uploader (change)="addBackground($event)"/>
      <button mat-button class="primary" (click)="uploader.click()">Ajouter un fond d'écran</button>
    </div>
  </div>
  <div class="right-menu manage-background-menu" *ngIf="showLogs">
    <div class="right-menu-header">
      Activité
      <div class="right-menu-close pointer">
        <mat-icon class="mat-icon-big" svgIcon="close" (click)="closeLogsMenu()"></mat-icon>
      </div>
    </div>
    <div class="right-menu-content">
      @for (log of logs; track log.id) {
        <div class="log-box">
          <div class="flex-row">
            <div class="log-username">
              {{log.user.firstname}} {{log.user.lastname}}
            </div>
            <div>
              &nbsp;a {{log.action}} <span class="log-action-target-title pointer" (click)="showActionTarget(log)">{{log.actionTargetTitle}}</span>
            </div>
          </div>
          <div class="log-date">
            {{log.createdAt | date: 'dd/MM/yyyy à HH:mm:ss'}}
          </div>
        </div>
      }
    </div>
  </div>
</div>
