.initials {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #44546f;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 32px;
    text-align: center;
    margin-right: 10px;
}